* {
          margin: 0;
          padding: 0;
}

.navbar .tab-logo .btn {
          font-size: 26px;
}

.navbar .container{
          margin-left: 550px;
          display: flex;
}
.navbar .tab {
          margin-left: 7rem;
}

.navbar .tab .btn {
          font-size: 26px;
}